@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  /* color: #1f2937; */
  /* color: #374151; */
  color: #4b5563;
  font-family: "SukhumvitSet";
  /* color: #6b7280; */
}

@font-face {
  font-family: "Tangerine";
  font-display: swap;
  src: url("/fonts/Tangerine/Tangerine-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Tangerine";
  font-display: swap;
  src: url("/fonts/Tangerine/Tangerine-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "EkkamaiNew";
  font-display: swap;
  src: url("/fonts/EkkamaiNew/EkkamaiNew-Thin.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "EkkamaiNew";
  font-display: swap;
  src: url("/fonts/EkkamaiNew/EkkamaiNew-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "EkkamaiNew";
  font-display: swap;
  src: url("/fonts/EkkamaiNew/EkkamaiNew-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Sukhumvit */
@font-face {
  font-family: "SukhumvitSet";
  font-display: swap;
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "SukhumvitSet";
  font-display: swap;
  src: url("/fonts/SukhumvitSet/SukhumvitSet-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "SukhumvitSet";
  font-display: swap;
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "SukhumvitSet";
  font-display: swap;
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Text.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "SukhumvitSet";
  font-display: swap;
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "SukhumvitSet";
  font-display: swap;
  src: url("/fonts/SukhumvitSet/SukhumvitSet-Light.ttf") format("truetype");
  font-weight: 200;
}
/* Montserrat */
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}

.heading2 {
  /* for English h2 */
  @apply text-xl md:text-3xl  font-semibold font-[Montserrat];
}

/* swiper */
[class^="swiper-button-"]::after {
  /* color: "#FBEFF0";  somehow color code doesn't work*/

  color: white;
}

/* Blobs SVG background image via https://haikei.app/ */

.blob-motion {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-20%);
  z-index: 0;
}
